<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.LIBM_Assignment_4962">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LIBM-Nexus"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.LIBM_Assignment_4962.Activity_Search_Books" />
        <activity android:name="com.example.LIBM_Assignment_4962.Activity_Lending" />
        <activity android:name="com.example.LIBM_Assignment_4962.Activity_Branch_M" />
        <activity android:name="com.example.LIBM_Assignment_4962.Activity_Publisher_M" />
        <activity android:name="com.example.LIBM_Assignment_4962.Activity_Books_M" />
        <activity android:name="com.example.LIBM_Assignment_4962.Activity_Member_Menu" />
        <activity android:name="com.example.LIBM_Assignment_4962.Activity_Member_Login" />
        <activity android:name="com.example.LIBM_Assignment_4962.Activity_Admin_Login" />
        <activity android:name="com.example.LIBM_Assignment_4962.Activity_Signup" />
        <activity android:name="com.example.LIBM_Assignment_4962.Activity_Admin_Menu" />
        <activity android:name="com.example.LIBM_Assignment_4962.BookDetailsActivity" />

        <activity android:name="com.example.LIBM_Assignment_4962.Activity_Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>